* {
    margin: 0;
}

html, body {
    background-color: #f0bfda;
    width: auto;
    height: auto;
}


/* ---------------------Header------------------------ */

header {
    height: auto;
    width: auto;
}

nav {
    height: auto;
    width: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(2, 114, 114);
    position: fixed;
    top: 0;
    padding-right: 3%;
    width: 100%;
    box-sizing: border-box;
}

li {
    display: inline-block;
    color: rgb(212, 182, 200);
    font-size: 1.3rem;
    margin-left: 3%;
    margin-top: 2.1%;
}

.register {
    float: right;
}

hr {
    margin-top: 2%;
    border-color: rgb(43, 22, 35);
    border-radius: 50%;
}

/* --------------------------Main--------------------------- */

main {
    height: auto;
    width: auto;
}

main h1 {
    font-size: 5rem;
    text-align: center;
    margin-top: 4%;
    color: rgb(161, 10, 98);
}

main h3 {
    text-align: end;
    margin-right: 20%;
    color: rgb(161, 10, 98);
    font-size: 1.5rem;
}

.center-frame {
    display: flex;
    width: auto;
    margin: 0 auto 0 auto;
    height: 490px;
    box-sizing: border-box;
}

.sign-in {
    width: 22.5%;
    text-align: center;
    padding-top: 6%;
}

.sign-in h2 {
    font-size: 1.4rem;
    color:  rgb(121, 9, 74);
}

.new-here {
    font-size: 1.8rem;
}

.pets-up {
    text-decoration: underline;
    padding-bottom: 25%;
    color: rgb(43, 22, 35);
}

.member {
    font-size: 1.6rem;
}

.pets-in {
    text-decoration: underline;
    color: rgb(65, 2, 41);
}

.membership {
    width: 22.5%;
    text-align: center;
    font-size: 1.5rem;
    color: rgb(121, 9, 74);
    padding-top: 5%;
}

.explore {
    text-decoration: underline;
    color: rgb(65, 2, 41);
}

.image-container {
    min-width: 47%;
    height: 100%;
    background-color: rgb(43, 22, 35);
    border-right: 2px solid  rgb(161, 10, 98);
    border-left: 2px solid  rgb(161, 10, 98);
    box-sizing: border-box;
}

#center-image {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.lower {
    margin: 0;
}

.gallery-intro {
    display: flex;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
    border-bottom: solid rgb(53, 4, 33);
    padding-top: 0;
}

.gallery-intro h2 {
    font-size: 2rem;
    color: rgb(53, 4, 33);
    margin-left: 3%;
    border: solid rgb(53, 4, 33);
    padding: 0.5% 0.5% 0 0.5%;
    border-radius: 30px;
}

.lower-main {
    height: 15%;
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
    grid-gap: 10px;
    background-color: rgb(53, 4, 33);
    border: 11px solid rgb(53, 4, 33);
    box-sizing: border-box;
}

.lower-main img {
    width: 100%;
    height: 100%;
}



/* --------------------------Footer------------------------- */

footer {
    background-color: rgb(2, 114, 114);
    height: 75px;
}

.footer-box {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-around;
}

.footer-box p {
    font-size: 1.3rem;
    color: rgb(212, 182, 200);
}

/* -----------------------------media queries---------------------------------- */

@media only screen and (max-width: 768px) {
    nav ul {
        position: static;
    }

    li {
        display: block;
        border: 0.5px solid rgb(7, 105, 105);
        border-right: 0;
        margin: 0;
        width: 100%;
        padding: 1%;
    }

    .register {
        float: none;
    }

    main h1 {
        font-size: 3.5rem;
        text-align: center;
    }
    
    main h3 {
        font-size: 1.2rem;
    }

    .center-frame {
        min-width: 480px;
        height: 700px;
        display: grid;
        grid-template: repeat(10, 1fr) / repeat(10, 1fr);
    }

    .image-container {
        grid-area: 1 / 1 / 8 / 11;
        border-bottom: 2px solid  rgb(161, 10, 98);
    }

    .sign-in {
        height: 135px;
        width: 100%;
        grid-area: 8 / 1 / 10 / 11;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .membership {
        grid-area: 9 / 5 / 11 / 9;
        font-size: 0.9rem;
        display: flex;
    }

    .new-user {
        height: 120px;
        width: 200px;
    }

    .old-user {
        width: 200px;
        height: 120px;
    }

    .sign-in h2 {
        font-size: 2.4rem;
    }

    .new-here {
        font-size: 1.9rem;

    }

    .member {
        font-size: 1.4rem;
    }

    .gallery-intro h2 {
        padding-bottom: 1%;
        padding-top: 1%;
        font-size: 1.6rem;
    }
    
    .lower-main {
        max-width: 750px;
        display: flex;
        flex-direction: column;
        grid-gap: 8px;
    }

    .lower-main img {
        height: 450px;
        width: 100%;
    }

    footer {
        height: auto;
    }

    .footer-box {
        flex-direction: column;
    }

    .footer-box p {
        height: 43px;
    }

    .footer-pets {
        margin-top: 4.5%;
    }
}

@media only screen and (max-width: 540px) {
    .image-container {
        grid-area: 1 / 1 / 7 / 11;
    }

    .sign-in {
        grid-area: 7 / 2 / 11 / 6;
        width: 400px;
    }

    .view-gallery {
        grid-area: 7 / 6 / 11 / 11;
    }
}