* {
    margin: 0;
}

html, body {
    background-color: rgb(243, 159, 89);
    width: auto;
    height: auto;
}


/* ---------------------Header------------------------ */

header {
    height: 55px;
}

nav {
    height: 100%;
    background-color: rgb(2, 114, 114);
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline-block;
    color: rgb(211, 157, 125);
    font-size: 1.3rem;
    margin-left: 3%;
    margin-top: 2.1%;
}

/* --------------------------Main--------------------------- */

main {
    height: 2000px;
}






/* --------------------------Footer------------------------- */

footer {
    background-color: rgb(2, 114, 114);
    height: 75px;
}

.footer-box {
    display: inline-flex;
    align-items: center;
    height: 100%;
}

.footer-box p {
    font-size: 1.3rem;
    color: rgb(211, 157, 125);
    margin-left: 45%;
}

@media only screen and (max-width: 480px) {
    nav ul {
        display: inline-flex;
    }
}